// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'box-sizing';
p {
  text-decoration: none;
}
a {
  text-decoration: none;
}
h1 {
  color: red;

}
.rotate-right {
  transform: rotate(90deg);
}
.round {
  border-radius: 50%;
}
.name {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}
